@* *copied from Categories*
@{
  Layout = "_Layout";
}

@using SweetNSavory.Models;
@model List<SweetNSavory.Models.Order>;

<h1>Orders</h1>

<ul>
  @foreach(Order order in Model)
  {
    <li>@Html.ActionLink($"{order.Name}", "Details", new { id = order.OrderId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new order", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p> *@